body {
    font-family: 'Gloria Hallelujah', cursive;
}
.phiz {
    background-color: #a84914;
}
.bio {
    background-color: #6ba9;
}
.alg {
    background-color: #ba547a
}
.geo {
    background-color: #07bc11;
}
.geog {
    background-color: #781255;
}
.phizk {
    background-color: #ef51ab;
}
.mhk {
    background-color: #ef91a0;
}
.predphiz {
    background-color: #9abe41;
}
.predinf {
    background-color: #9fa5ee;
}
.inf {
    background-color: #ae5dfd;
}
.him {
    background-color: #7ffee0;
}
.rus {
    background-color: #33aed1;
}
.lit {
    background-color: #fbeabe;
}
.ros {
    background-color: #83490c;
}
.raz {
    background-color: #5920b4;
}
.ang {
    background-color: #5f8014;
}
.ist {
    background-color: #e78f4c;
}
.stat {
    background-color: #a514f8;
}